<script src="https://www.google.com/recaptcha/api.js?render=explicit&onload=recaptchaCallback"></script>

<div class="container">
  <header>
    <h3>Sign In</h3>
  </header>

  <%= form_tag(session_path) do %>
    <fieldset>
      <div class="form-group">
        <%= label_tag :email_or_username, "Email or Username", class: "required" %>
        <%= text_field_tag :email_or_username, nil, size: 40, autofocus: true, required: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :password, "Password", class: "required" %>
        <%= password_field_tag :password, nil, size: 40, required: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <div id="recaptcha"></div>
      </div>
      <div class="form-group">
        <%= submit_tag "Sign In", class: "btn btn-primary" %>
      </div>
    </fieldset>
  <% end %>
  <p>
    No account yet? <%= link_to "Sign up!", signup_path %>
  </p>
</div>

<script type="text/javascript">
  var recaptchaCallback = function() {
    var captchaWidgetId = grecaptcha.render( 'recaptcha', {
      'sitekey' : '6Lf-UZsUAAAAAOTK1Wl4hy5ssiL_YaYmlrGzhpaz'
    });
  };
</script>
