<script src="https://www.google.com/recaptcha/api.js?render=explicit&onload=recaptchaCallback"></script>

<% if @user.new_record? %>
  <% password_class = "required" %>
  <% button_text = "Create Account" %>
<% else %>
  <% password_class = "optional" %>
  <% button_text = "Update Account" %>
  <% password_tip = "Leave blank if you don't want to change it." %>
  <% password_confirmation_tip = "Confirm if you're changing it." %>
<% end %>

<%= form_for(@user) do |f| %>
  <%= render 'shared/errors', object: @user %>

  <div class="form-group">
    <%= f.label :name, class: "required" %><br />
    <%= f.text_field :name, size: 40, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :username, class: "required" %><br />
    <%= f.text_field :username, size: 40,
      placeholder: "Alphanumeric characters only!",
      class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "required"  %><br />
    <%= f.email_field :email, size: 40, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password, class: "#{password_class}"  %><br />
    <%= f.password_field :password, size: 40, class: "form-control" %>
    <% if password_tip.present? %>
      <p><small><i><%= password_tip %></i></small></p>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, 'Confirm Password', class: "#{password_class}" %><br />
    <%= f.password_field :password_confirmation, size: 40, class: "form-control" %>
    <% if password_confirmation_tip.present? %>
      <p><small><i><%= password_confirmation_tip %></i></small></p>
    <% end %>
  </div>
  <% if @user.new_record? %>
    <div class="form-group">
      <div id="recaptcha"></div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit "#{button_text}", class: "btn btn-primary" %>
    or
    <%= link_to "Cancel", request.referer.present? ? request.referer : root_path, class: "btn btn-secondary" %>
  </div>
<% end %>

<script type="text/javascript">
  var recaptchaCallback = function() {
    var captchaWidgetId = grecaptcha.render( 'recaptcha', {
      'sitekey' : '6Lf-UZsUAAAAAOTK1Wl4hy5ssiL_YaYmlrGzhpaz'
    });
  };
</script>
